# Basic imports

In [7]:
import numpy as np
import pandas as pd
pd.options.display.max_colwidth = 200
pd.options.display.max_rows=200
pd.options.display.float_format = lambda x: f'{x:.3f}'

In [8]:
data = {
    'A': list('ABCD'),
    'x': np.random.random(4)
}
pd.DataFrame(data)

   A     x
0  A 0.514
1  B 0.564
2  C 0.260
3  D 0.623